.eclipse{
height: 500px;
background-color: rgb(6, 0, 0);
display: flex;
justify-content: center;
gap: 10px;
align-items: center;
flex-wrap: wrap;
}

.item{

color: white;
font-size: 40px;
border: 3px solid black;
background-color: firebrick;
height: 70px;
width: 70px;
display: flex;
justify-content: center;
align-items: center;
transition: 0.3s;

}

.item:hover{

height: 100px;
width: 100px;
scale: 1.5;
}



#item1{


}

#item2{


}

#item3{

}

#item4{


}
